<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.0.xsd
						http://code.alibabatech.com/schema/dubbo 
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd">	

	<!--定时器的配置文件都是固定配置-->

	<!-- 1、配置Job到spring容器 -->
	<bean id="orderJob" class="study.project.order.quartz.MyJobQuartz"/>

	<!-- 2、将Job类配置JobDetail  调度方法 -->
	<bean id="springQtzJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="orderJob"/>
		<!-- 要执行的方法名称（清空无效订单） -->
		<property name="targetMethod" value="clearInvalidOrders"/>
	</bean>

	<!--3、 配置调度触发器 依靠4调度框架来触发-->
	<bean id="cronTriggerFactoryBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
		<!--以何种方式触发：引用2中的调度方法-->
		<property name="jobDetail" ref="springQtzJobMethod"/>
		<!--触发策略：详见：cron的表达式(0/5 * * * * ?：每隔5秒触发一次)-->
		<property name="cronExpression" value="0/5 * * * * ?"/>
	</bean>

	<!-- 4、配置调度工厂 -->
	<bean id="springJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerFactoryBean" />
			</list>
		</property>
	</bean>
</beans>










